@import '../../_globals.scss';

$left-background-width: calc(50vw - (1280 * 0.15)px);

.container-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  background: gray;

}

.container {
  position: relative;
  display: flex;
  margin: auto;
  width: 1280px;
  height: 800px;
  padding: 40px 85px;
  background: linear-gradient(to right, $background-color, $background-color 64%, $secondary-color 64%, $secondary-color 100%);
}

.dashboard-left {
  width: 445px;
}

.working-block {
  display: flex;
  margin-top: 145px;

  &--circle {
    height: 48px;
    width: 48px;
  }

  &--text {
    padding-left: 16px;
    &--title {
      font-size: 24px;
      font-weight: bold;
    }
    &--timing {
      .circle {
        border-width: 1px;
        border-color: $primary-color;
        height: 12px;
        width: 12px;
      }
    }
  }
}

.timer {
  color: $primary-color;
  font-size: 176px;
  font-weight: bold;
  line-height: 176px;
}

.todo-block {
  margin-top: 107px;

  &__more-btn {
    float: right;
    padding: 0;
    min-width: initial;

    color: $primary-color;
  }
}

.circle {
  border-radius: 50%;
  border: solid $secondary-color 2px;
}

.dashboard-center {
  align-self: center;
  padding: 30px;
}

.clock {
  display: flex;
  height: 540px;
  width: 540px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 4px $primary-color;
  &--content {
    margin: auto;
    display: flex;
    height: 522px;
    width: 522px;
    background: $primary-color;
    border-radius: 50%;
    &--play-btn {
      margin: auto;
      font-size: 96px !important;
      color: white;
    }
  }
}

.dashboard-right {
  padding-right: 85px;
}

