@import '../../_globals.scss';

$left-background-width: calc(50vw - (1280 * 0.15)px);

.container-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  background: gray;

}

.container {
  display: flex;
  margin: auto;
  width: 1280px;
  height: 800px;
  padding: 40px 85px;
  background: linear-gradient(to right, $background-color, $background-color 64%, $secondary-color 64%, $secondary-color 100%);
}

.dashboard-left {
  width: 445px;
}

.add-mission-field {
  position: relative;
  display: inline-block;
  font-size: 19px;
  width: 100%;
  color: $primary-color;
  &--input {
    width: 100%;
    height: 56px;
    padding: 19px 16px;
    background: white;
    border: 0;
    font-size: inherit;
    font-weight: bold;
    font-style: italic;
    color: inherit;
    &::placeholder {
      color: lighten($primary-color, 20%);
    }
    &:focus {
      outline-color: $primary-color;
    }
  }
  &--icon {
    color: inherit;
    position: absolute;
    padding: 19px 16px;
    right: 0;
  }
}

.working-block {
  display: flex;
  margin-top: 145px;

  &--circle {
    height: 48px;
    width: 48px;
  }

  &--text {
    padding-left: 16px;
    &--title {
      font-size: 24px;
      font-weight: bold;
    }
    &--timing {
      .circle {
        border-width: 1px;
        border-color: $primary-color;
        height: 12px;
        width: 12px;
      }
    }
  }
}

.timer {
  color: $primary-color;
  font-size: 176px;
  font-weight: bold;
  line-height: 176px;
}

.todo-list {
  width: 445px;
  margin-top: 107px;
}

.todo-item {
  color: $secondary-color;
  font-weight: bold;
  font-size: 19px;
  height: 32px;
  margin: 9px 0;
  border-bottom: solid rgba($secondary-color, 0.2) 1px;
  &--circle {
    vertical-align: middle;
    display: inline-block;
    width: 19px;
    height: 19px;
  }
  &--text {
    vertical-align: middle;
    padding-left: 4px;
  }

  &--play-icon {
    float: right;
    vertical-align: middle;
    color: inherit;
    font-size: 24px;
    line-height: 32px;
  }
}

.todo-block--more-btn {
  float: right;
  padding: 0;
  min-width: initial;

  color: $primary-color;
}

.circle {
  border-radius: 50%;
  border: solid $secondary-color 2px;
}

.dashboard-center {
  align-self: center;
  padding: 30px;
}

.clock {
  display: flex;
  height: 540px;
  width: 540px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 4px $primary-color;
  &--content {
    margin: auto;
    display: flex;
    height: 522px;
    width: 522px;
    background: $primary-color;
    border-radius: 50%;
    &--play-btn {
      margin: auto;
      font-size: 96px !important;
      color: white;
    }
  }
}

.dashboard-right {
  padding-right: 85px;
}

.right-menu {
  > * {
    color: white;
    font-size: 36px !important;
    margin-bottom: 48px;
  }
}
